# .gitignore
.env
*.env

# Virtual environment
.venv/
venv/

# Python cache files
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
ENV/
.env

# Environment files
.env

# Package distribution / packaging
dist/
build/
*.egg-info/

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Jupyter Notebooks
.ipynb_checkpoints

# Local Supabase CLI data
**/supabase/.temp/